x/vulndb: potential Go vuln in github.com/refraction-networking/utls: GHSA-pmc3-p9hx-jq96

Advisory [GHSA-pmc3-p9hx-jq96](https://github.com/advisories/GHSA-pmc3-p9hx-jq96) references a vulnerability in the following Go modules:

| Module |
| - |
| [github.com/refraction-networking/utls](https://pkg.go.dev/github.com/refraction-networking/utls) |

Description:
### Description
Before version 1.7.0, utls did not implement the TLS 1.3 downgrade protection mechanism specified in RFC 8446 Section 4.1.3 when using a utls ClientHello spec. This allowed an active network adversary to downgrade TLS 1.3 connections initiated by a utls client to a lower TLS version (e.g., TLS 1.2) by modifying the ClientHello message to exclude the SupportedVersions extension, causing the server to respond with a TLS 1.2 ServerHello (along with a downgrade canary in the ServerHello random field). Because utls did not check the downgrade canary in the ServerHello random field, ...

References:
- ADVISORY: https://github.com/advisories/GHSA-pmc3-p9hx-jq96
- ADVISORY: https://github.com/refraction-networking/utls/security/advisories/GHSA-pmc3-p9hx-jq96
- FIX: https://github.com/refraction-networking/utls/commit/f8892761e2a4d29054264651d3a86fda83bc83f9
- FIX: https://github.com/refraction-networking/utls/pull/337
- REPORT: https://github.com/refraction-networking/utls/issues/181

No existing reports found with this module or alias.
See [doc/quickstart.md](https://github.com/golang/vulndb/blob/master/doc/quickstart.md) for instructions on how to triage this report.

```
id: GO-ID-PENDING
modules:
    - module: github.com/refraction-networking/utls
      versions:
        - fixed: 1.7.0
      vulnerable_at: 1.6.7
summary: uTLS ServerHellos are accepted without checking TLS 1.3 downgrade canaries in github.com/refraction-networking/utls
ghsas:
    - GHSA-pmc3-p9hx-jq96
references:
    - advisory: https://github.com/advisories/GHSA-pmc3-p9hx-jq96
    - advisory: https://github.com/refraction-networking/utls/security/advisories/GHSA-pmc3-p9hx-jq96
    - fix: https://github.com/refraction-networking/utls/commit/f8892761e2a4d29054264651d3a86fda83bc83f9
    - fix: https://github.com/refraction-networking/utls/pull/337
    - report: https://github.com/refraction-networking/utls/issues/181
source:
    id: GHSA-pmc3-p9hx-jq96
    created: 2025-04-23T15:01:24.251871181Z
review_status: UNREVIEWED

```

Began and tracked work from the author-filed report: #3638 