x/vulndb: potential Go vuln in github.com/refraction-networking/utls

### Acknowledgement

- [x] The maintainer(s) of the affected project have already been made aware of this vulnerability.

### Description

Before version 1.7.0, utls did not implement the TLS 1.3 downgrade protection mechanism specified in RFC 8446 Section 4.1.3 when using a utls ClientHello spec. This allowed an active network adversary to downgrade TLS 1.3 connections initiated by a utls client to a lower TLS version (e.g., TLS 1.2) by modifying the ClientHello message to exclude the SupportedVersions extension, causing the server to respond with a TLS 1.2 ServerHello (along with a downgrade canary in the ServerHello random field). Because utls did not check the downgrade canary in the ServerHello random field, clients would accept the downgraded connection without detecting the attack. This attack could also be used by an active network attacker to fingerprint utls connections.

### Affected Modules, Packages, Versions and Symbols

```shell
Module: github.com/refraction-networking/utls
Package: github.com/refraction-networking/utls
Versions:
  - Introduced: v1.0.0
  - Fixed: v1.7.0
Symbols:
  - UConn.clientHandshake
```

### CVE/GHSA ID

https://github.com/refraction-networking/utls/security/advisories/GHSA-pmc3-p9hx-jq96

### Fix Commit or Pull Request

refraction-networking/utls#337, specifically refraction-networking/utls@f8892761e2a4d29054264651d3a86fda83bc83f9

### References

- https://github.com/refraction-networking/utls/issues/181

### Additional information

_No response_

Thank you for the report; marked as `waiting` until an Advisory is published.

Added security advisory and updated the version number a bit. Also I've put the offending unexported `UConn.clientHandshake` symbol but there are exported symbols that use it. Are those going to be detected automatically or should list the exported symbols?

Also updated the description

Hi @mingyech, we are able to auto-populate symbols.
Thank you for the diligence. 

Change https://go.dev/cl/667835 mentions this issue: `data/reports: add GO-2025-3638`

Thanks! BTW, are you able to assign a CVE ID for it by chance? 

> Thanks! BTW, are you able to assign a CVE ID for it by chance?

@thatnealpatel just wanted to follow up about this, thank you!