x/vulndb: potential Go vuln in github.com/pion/dtls: GHSA-9f3f-wv7r-qc8r

Advisory [GHSA-9f3f-wv7r-qc8r](https://github.com/advisories/GHSA-9f3f-wv7r-qc8r) references a vulnerability in the following Go modules:

| Module |
| - |
| [github.com/pion/dtls](https://pkg.go.dev/github.com/pion/dtls) |
| [github.com/pion/dtls/v2](https://pkg.go.dev/github.com/pion/dtls/v2) |
| [github.com/pion/dtls/v3](https://pkg.go.dev/github.com/pion/dtls/v3) |

Description:
### Impact
Pion DTLS versions v1.0.0 through v3.1.0 use random nonce generation with AES GCM ciphers, which makes it easier for remote attackers to obtain the authentication key and spoof data by leveraging the reuse of a nonce in a session and a "forbidden attack". 

### Patches
Upgrade to v3.1.0 or later. This version includes PR #796, which uses the 64-bit sequence number to populate the `nonce_explicit` part of the GCM nonce. This is according to best practice outlined in [RFC 9325 section 7.2.1](https://www.rfc-editor.org/rfc/rfc9325#section-7.2.1).

### Workarounds
There are no workaroun...

References:
- ADVISORY: https://github.com/advisories/GHSA-9f3f-wv7r-qc8r
- ADVISORY: https://github.com/pion/dtls/security/advisories/GHSA-9f3f-wv7r-qc8r
- FIX: https://github.com/pion/dtls/commit/61762dee8217991882c5eb79856b9e7a73ee349f
- FIX: https://github.com/pion/dtls/pull/796

Cross references:
- github.com/pion/dtls appears in 1 other report(s):
  - data/reports/GO-2020-0038.yaml    (https://github.com/golang/vulndb/issues/38)
- github.com/pion/dtls/v2 appears in 5 other report(s):
  - data/reports/GO-2022-0460.yaml    (https://github.com/golang/vulndb/issues/460)
  - data/reports/GO-2022-0461.yaml    (https://github.com/golang/vulndb/issues/461)
  - data/reports/GO-2022-0462.yaml    (https://github.com/golang/vulndb/issues/462)
  - data/reports/GO-2023-1534.yaml    (https://github.com/golang/vulndb/issues/1534)
  - data/reports/GO-2023-1535.yaml    (https://github.com/golang/vulndb/issues/1535)

See [doc/quickstart.md](https://github.com/golang/vulndb/blob/master/doc/quickstart.md) for instructions on how to triage this report.

```
id: GO-ID-PENDING
modules:
    - module: github.com/pion/dtls
      vulnerable_at: 1.5.4
    - module: github.com/pion/dtls/v2
      vulnerable_at: 2.2.12
    - module: github.com/pion/dtls/v3
      versions:
        - fixed: 3.1.0
      vulnerable_at: 3.0.10
summary: |-
    Pion DTLS's usage of random nonce generation with AES GCM ciphers risks leaking
    the authentication key in github.com/pion/dtls
ghsas:
    - GHSA-9f3f-wv7r-qc8r
references:
    - advisory: https://github.com/advisories/GHSA-9f3f-wv7r-qc8r
    - advisory: https://github.com/pion/dtls/security/advisories/GHSA-9f3f-wv7r-qc8r
    - fix: https://github.com/pion/dtls/commit/61762dee8217991882c5eb79856b9e7a73ee349f
    - fix: https://github.com/pion/dtls/pull/796
source:
    id: GHSA-9f3f-wv7r-qc8r
    created: 2026-02-11T16:01:26.352921103Z
review_status: UNREVIEWED

```