x/vulndb: potential Go vuln in github.com/doyensec/safeurl: GHSA-xgch-x3mx-cm3c

Advisory [GHSA-xgch-x3mx-cm3c](https://github.com/advisories/GHSA-xgch-x3mx-cm3c) references a vulnerability in the following Go modules:

| Module |
| - |
| [github.com/doyensec/safeurl](https://pkg.go.dev/github.com/doyensec/safeurl) |

Description:
The `privateNetworks` blocklist was found to be missing newly added CIDR ranges. More specifically, the following CIDR ranges were not being blocked:
- `64:ff9b:1::/48`: NAT64 local-use prefix (RFC 8215)
- `5f00::/16`: Segment Routing (SRv6) SIDs (RFC 9602)
- `3fff::/20`: documentation prefix (RFC 9637)
- `100:0:0:1::/64`: Dummy IPv6 Prefix (RFC 9780)

### Impact
If exploited, an attacker would potentially be able to reach resources hosted on the IPs residing in the missing ranges.

### Workarounds
Disable IPv6 by setting `EnableIPv6(false)`. This is the default behavior of the library.

### R...

References:
- ADVISORY: https://github.com/advisories/GHSA-xgch-x3mx-cm3c
- ADVISORY: https://github.com/doyensec/safeurl/security/advisories/GHSA-xgch-x3mx-cm3c
- WEB: https://github.com/doyensec/safeurl/releases/tag/v0.2.4

No existing reports found with this module or alias.
See [doc/quickstart.md](https://github.com/golang/vulndb/blob/master/doc/quickstart.md) for instructions on how to triage this report.

```
id: GO-ID-PENDING
modules:
    - module: github.com/doyensec/safeurl
      versions:
        - fixed: 0.2.4
      vulnerable_at: 0.2.3
summary: safeurl is Missing IPv6 CIDR Ranges in Blocklist in github.com/doyensec/safeurl
cves:
    - CVE-2026-54452
ghsas:
    - GHSA-xgch-x3mx-cm3c
references:
    - advisory: https://github.com/advisories/GHSA-xgch-x3mx-cm3c
    - advisory: https://github.com/doyensec/safeurl/security/advisories/GHSA-xgch-x3mx-cm3c
    - web: https://github.com/doyensec/safeurl/releases/tag/v0.2.4
source:
    id: GHSA-xgch-x3mx-cm3c
    created: 2026-07-15T22:01:44.507001476Z
review_status: UNREVIEWED

```

Change https://go.dev/cl/802300 mentions this issue: `data/reports: add 66 reports`