x/vulndb: potential Go vuln in github.com/quic-go/quic-go: CVE-2023-49295

CVE-2023-49295 references [github.com/quic-go/quic-go](https://github.com/quic-go/quic-go), which may be a Go module.

Description:
quic-go is an implementation of the QUIC protocol (RFC 9000, RFC 9001, RFC 9002) in Go. An attacker can cause its peer to run out of memory sending a large number of PATH_CHALLENGE frames. The receiver is supposed to respond to each PATH_CHALLENGE frame with a PATH_RESPONSE frame. The attacker can prevent the receiver from sending out (the vast majority of) these PATH_RESPONSE frames by collapsing the peers congestion window (by selectively acknowledging received packets) and by manipulating the peer's RTT estimate. This vulnerability has been patched in versions 0.37.7, 0.38.2 and 0.39.4.

References:
- NIST: https://nvd.nist.gov/vuln/detail/CVE-2023-49295
- JSON: https://github.com/CVEProject/cvelist/tree/a0d3ef10621c8410712c84f2595cadadb3b07a72/2023/49xxx/CVE-2023-49295.json
- advisory: https://github.com/quic-go/quic-go/security/advisories/GHSA-ppxx-5m9h-6vxf
- fix: https://github.com/quic-go/quic-go/commit/17fc98c2d81dbe685c19702dc694a9d606ac56dc
- fix: https://github.com/quic-go/quic-go/commit/21609ddfeff93668c7625a85eb09f1541fdad965
- fix: https://github.com/quic-go/quic-go/commit/3a9c18bcd27a01c551ac9bf8bd2b4bded77c189a
- fix: https://github.com/quic-go/quic-go/commit/554d543b50b917369fb1394cc5396d928166cf49
- fix: https://github.com/quic-go/quic-go/commit/6cc3d58935426191296171a6c0d1ee965e10534e
- fix: https://github.com/quic-go/quic-go/commit/9aaefe19fc3dc8c8917cc87e6128bb56d9e9e6cc
- fix: https://github.com/quic-go/quic-go/commit/a0ffa757499913f7be69aa78f573a6aee3430ae4
- fix: https://github.com/quic-go/quic-go/commit/d7aa627ebde91cf799ada2a07443faa9b1e5abb8
- Imported by: https://pkg.go.dev/github.com/quic-go/quic-go?tab=importedby

Cross references:
- Module github.com/quic-go/quic-go appears in issue #2160


See [doc/triage.md](https://github.com/golang/vulndb/blob/master/doc/triage.md) for instructions on how to triage this report.

```
id: GO-ID-PENDING
modules:
    - module: github.com/quic-go/quic-go
      vulnerable_at: 0.40.1
      packages:
        - package: quic-go
cves:
    - CVE-2023-49295
references:
    - advisory: https://github.com/quic-go/quic-go/security/advisories/GHSA-ppxx-5m9h-6vxf
    - fix: https://github.com/quic-go/quic-go/commit/17fc98c2d81dbe685c19702dc694a9d606ac56dc
    - fix: https://github.com/quic-go/quic-go/commit/21609ddfeff93668c7625a85eb09f1541fdad965
    - fix: https://github.com/quic-go/quic-go/commit/3a9c18bcd27a01c551ac9bf8bd2b4bded77c189a
    - fix: https://github.com/quic-go/quic-go/commit/554d543b50b917369fb1394cc5396d928166cf49
    - fix: https://github.com/quic-go/quic-go/commit/6cc3d58935426191296171a6c0d1ee965e10534e
    - fix: https://github.com/quic-go/quic-go/commit/9aaefe19fc3dc8c8917cc87e6128bb56d9e9e6cc
    - fix: https://github.com/quic-go/quic-go/commit/a0ffa757499913f7be69aa78f573a6aee3430ae4
    - fix: https://github.com/quic-go/quic-go/commit/d7aa627ebde91cf799ada2a07443faa9b1e5abb8

```

Duplicate of #2459