x/vulndb: potential Go vuln in github.com/dadrus/heimdall: GHSA-3q34-rx83-r6mq

Advisory [GHSA-3q34-rx83-r6mq](https://github.com/advisories/GHSA-3q34-rx83-r6mq) references a vulnerability in the following Go modules:

| Module |
| - |
| [github.com/dadrus/heimdall](https://pkg.go.dev/github.com/dadrus/heimdall) |

Description:
### Summary

Heimdall performs rule matching on the raw (non-normalized) request path, while downstream components may normalize dot-segments according to [RFC 3986, Section 6.2.2.3](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.3). This discrepancy can result in heimdall authorizing a request for one path (e.g., `/user/../admin`, or URL-encoded variants such as `/user/%2e%2e/admin` or `/user/%2e%2e%2fadmin`. The latter would require the `allow_encoded_slashes` option to be set to `on` or `no_decode`.) while the downstream ultimately processes a different, normalized path (`/admin`).

#...

References:
- ADVISORY: https://github.com/advisories/GHSA-3q34-rx83-r6mq
- ADVISORY: https://github.com/dadrus/heimdall/security/advisories/GHSA-3q34-rx83-r6mq
- ADVISORY: https://nvd.nist.gov/vuln/detail/CVE-2026-42274
- FIX: https://github.com/dadrus/heimdall/commit/b5dfa484b7a8c2ce6d8691c026f9da867719947a
- FIX: https://github.com/dadrus/heimdall/pull/3209
- WEB: https://github.com/dadrus/heimdall/releases/tag/v0.17.14
- WEB: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-normalize-path
- WEB: https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.3

Cross references:
- github.com/dadrus/heimdall appears in 1 other report(s):
  - data/reports/GO-2026-4742.yaml    (https://github.com/golang/vulndb/issues/4742)

See [doc/quickstart.md](https://github.com/golang/vulndb/blob/master/doc/quickstart.md) for instructions on how to triage this report.

```
id: GO-ID-PENDING
modules:
    - module: github.com/dadrus/heimdall
      versions:
        - fixed: 0.17.14
      vulnerable_at: 0.17.13
summary: Heimdall has an authorization bypass via path normalization mismatch in github.com/dadrus/heimdall
cves:
    - CVE-2026-42274
ghsas:
    - GHSA-3q34-rx83-r6mq
references:
    - advisory: https://github.com/advisories/GHSA-3q34-rx83-r6mq
    - advisory: https://github.com/dadrus/heimdall/security/advisories/GHSA-3q34-rx83-r6mq
    - advisory: https://nvd.nist.gov/vuln/detail/CVE-2026-42274
    - fix: https://github.com/dadrus/heimdall/commit/b5dfa484b7a8c2ce6d8691c026f9da867719947a
    - fix: https://github.com/dadrus/heimdall/pull/3209
    - web: https://github.com/dadrus/heimdall/releases/tag/v0.17.14
    - web: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-normalize-path
    - web: https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.3
source:
    id: GHSA-3q34-rx83-r6mq
    created: 2026-06-24T21:37:07.752907345Z
review_status: UNREVIEWED

```

Change https://go.dev/cl/794380 mentions this issue: `data/reports: add 100 reports`